.btn {
    
    font-size: 24px;
    font-weight: 700;
    color: #fff;

    background-color: #F46632;
    border-radius: 16px;

    transition: background-color .2s linear;

    &:hover {
        background-color: rgb(248, 79, 17);
    }
}

@media (max-width: 768px) {
    .btn {
        font-size: 19px;
    }
}

@media (max-width: 414px) {
    .btn {
        font-size: 14px;
    }
}