.course {
    padding: 55px 140px 100px;
    border-radius: 30px;
    box-shadow: 50px 50px 99px rgba(0, 0, 0, .19);
    margin-bottom: 140px;

    & .title {
        margin-bottom: 65px;
    }
}

.course__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 80px;
    border: 1px solid #000;
    border-radius: 16px;

    overflow: hidden;
}

.course__tab {
    font-size: 18px;
    text-align: center;

    width: 33.33333%;
    height: inherit;
    padding: 19px 77px;

    cursor: pointer;

    transition: all .3s linear;

    &:first-child {
        border-right: 1px solid #000;
    }

    &:last-child {
        border-left: 1px solid #000;
    }

    &:hover,
    &:focus {
        background-color: #000;
        color: #fff;
    }
}

.course__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.course__img {
    width: 25%;
}

.course__text {
    font-size: 20px;
    line-height: 2.4;
    text-align: justify;

    width: 70%;
}

@media (max-width: 1024px) {
    .course {
        padding: 55px 50px 70px;
        margin-bottom: 80px;

        & .title {
            margin-bottom: 30px;
        }
    }

    .course__tab {
        padding: 19px 10px;
    }

    .course__text {
        line-height: 2;
    }
}

@media (max-width: 768px) {
    .course__nav {
        margin-bottom: 40px;
        
        
    }

    .course__tab {
        font-size: 14px;
        padding: 19px 10px;
    }

    .course__text {
        font-size: 17px;
    }
}

@media (max-width: 414px) {
    .course {
        padding: 10px 15px;
        margin-bottom: 40px;
    }

    .course__info {
        margin-top: -40px;
    }

    .course__nav {
        margin-bottom: 20px;
    }

    .course__tab {
        padding: 10px 5px;
        font-size: 10px;
    }

    .course__text {
        font-size: 14px;
        line-height: 1.5;
        width: 100%;
    }

    .course__img {
        display: none;
    }
}