.intro {
    width: 100%;
    background-color: #000;
}

.intro__inner {
    width: 100%;
    background-color: #fff;
    border-radius: 30px;

    padding: 100px 135px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    transform: translateY(150px);
    box-shadow: 50px 50px 99px rgba(0, 0, 0, .19);
}

.intro__info {
    width: 45%;
}

.intro__title {
    font-size: 50px;
    font-weight: 700;
    margin-bottom: 20px;
}

.intro__sub {
    font-size: 38px;
    color: #8D8D8D;
    margin-bottom: 100px;

    position: relative;

    &:after {
        content: "UI / UX";
        font-size: 150px;
        font-weight: 700;
        background: linear-gradient(to bottom, #fff, #030504, #fff);
        background-clip: text;
        -webkit-text-fill-color: transparent;
        opacity: 0.1;

        position: absolute;
        left: -5px;
        top: -120%;
    }
}

.intro__text {
    font-size: 23px;
    line-height: 2.2;
    margin-bottom: 70px;
}

.intro__btn {
    padding: 22px 120px;
}


.intro__img {
    width: 40%;
}

@media (max-width: 1024px) {

    .intro__inner {
        padding: 50px 70px;
    }

    .intro__title {
        font-size: 35px;
    }

    .intro__sub {
        font-size: 30px;
        margin-bottom: 50px;

        &:after {
            font-size: 100px;
        }
    }

    .intro__text {
        font-size: 20px;
        line-height: 2;
    }

    .intro__btn {
        padding: 22px 60px;
    }
}

@media (max-width: 768px) {
    .intro__inner {
        padding: 40px 40px;
    }

    .intro__title {
        font-size: 27px;
    }

    .intro__sub {
        font-size: 25px;
        margin-bottom: 30px;

        &:after {
            font-size: 70px;
        }
    }

    .intro__text {
        font-size: 17px;
        line-height: 1.7;
        margin-bottom: 40px;
    }

    .intro__btn {
        padding: 15px 30px;
    }
}

@media (max-width: 414px) {
    .intro__inner {
        padding: 20px 20px;
    }

    .intro__title {
        font-size: 20px;
        margin-bottom: 10px;
    }

    .intro__sub {
        font-size: 18px;
        margin-bottom: 20px;

        &:after {
            font-size: 40px;
            left: 0;
            top: -70%;
        }
    }

    .intro__text {
        font-size: 14px;
        margin-bottom: 20px;
    }

    .intro__btn {
        padding: 10px 20px;
    }

    .intro__img {
        width: 50%;
    }
}