.nav {
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__link {
    color: #fff;
    font-size: 19px;

    transition: color .2s linear;

    &:hover {
        color: #707070;
    }
}