.sessions {
    margin-top: 100px;
    margin-bottom: 100px;
}

.session__item {
    display: grid;
    grid-template-rows: 1fr 4fr;

    &:hover .session__top:before {
        background-color: #F46632;
    }
}

.session__top {
    padding: 10px 28px;
    margin: 0 20px;

    border-radius: 12px;
    background-color: #F8F8F8;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;

    position: relative;

    &:before {
        content: "";
        width: 3px;
        height: 100%;
        background-color: #000;

        position: absolute;
        left: -20px;
        top: 0;

        transition: all .2s linear;
    }
}

.session__title {
    font-size: 26px;
    font-weight: 700;
}

.session__info {
    display: grid;
    grid-template-columns: 1fr 3fr;
    align-items: center;
    padding: 48px;

    position: relative;

    &:before {
        content: "";
        width: 1px;
        height: 100%;
        background-color: rgb(126, 126, 126);

        position: absolute;
        left: 1px;
    }
}

.author {
    & img {
        width: 87px;
    }

    & img:first-child {
        margin-right: 10px;
    }
}

.session__top-info {
    display: flex;
    align-items: center;
    font-size: 19px;

    & img {
        margin-right: 10px;
    }
}

.session__text {
    font-size: 16px;
    line-height: 2;
}

@media (max-width: 1024px) {
    .sessions {
        margin-top: 30px;
    }
}

@media (max-width: 768px) {
    .sessions {
        margin-bottom: 50px;
    }

    .session__title {
        font-size: 20px;
    }

    .session__top-info {
        font-size: 14px;
    }

    .session__info {
        padding: 30px 48px;
    }
}

@media (max-width: 414px) {
    .sessions {
        margin-top: 0;
    }

    .session__title {
        font-size: 15px;
        margin-right: 5px;
    }

    .session__top {
        padding: 0 5px;
        margin: 0 10px;

        &:before {
            left: -10px;
        }
    }

    .session__top-info {
        font-size: 12px;
        margin-right: 5px;

        &:last-child {
            margin-right: 0;
        }

        & img {
            width: 15px;
        }
    }

    .session__text {
        font-size: 12px;
        line-height: 1.7;
        text-align: right;
    }

    .session__info {
        padding: 10px 5px;
    }
}