.slick__prev,
.slick__next {
    width: 70px;
    height: 70px;
    border: 2px solid #000;
    border-radius: 16px;

    cursor: pointer;

    position: absolute;
    bottom: 0;

    display: flex;
    justify-content: center;
    align-items: center;
}

.slick__prev {
    left: 0;
    top: 200%;

    & img {
        display: block;
    }
}

.slick__next {
    right: 0;
    top: 200%;

    & img {
        display: block;
    }
}

.slick-slide {
    outline: none;
}